h1{
    text-align: center;
    text-size-adjust: 10px;
    border: 3px solid red;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
}
h3{
    text-decoration: underline;
    font-style: italic;
    font-weight: 700;
}

